name: test-prophet

on: push

jobs:

  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: install-dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[tests]"
          pip install ".[prophet]"
      - name: run-tests
        run: pytest tests/wrappers/test_prophet.py -s --durations 0
